@import url("../layouts.css");
@import url("../loader.css");
@import url("../sidebar.css");

.search-outer-container {
  margin-top: 1.8em;
  display: flex;
  flex-direction: column;
  width: 100%;
  .github-link {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    a:hover {
      text-decoration: underline;
    }
    span.github-icon {
      margin-right: 0.5rem;
      --icon-size: 30px;
      display: inline-block;
      width: var(--icon-size);
      height: var(--icon-size);
      background-size: var(--icon-size);
      background: url("../assets/icons/Github.png");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

#search-input {
  position: relative;
  input,
  button {
    padding: var(--input-btn-padding);
    border-radius: 9999px;
  }
  input[type="search"] {
    background-color: var(--input-color);
    width: 100%;
  }

  button[type="submit"] {
    background-color: var(--black);
    color: var(--light-text);
    position: absolute;
    right: 0%;
  }
  margin-bottom: 0.5em;
}
