@import url("./layout.css");
main {
  min-height: inherit;
  color: var(--text-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#index-page-header {
  margin-bottom: 1em;
  h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
