@import url("./layouts.css");

body,
html {
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body,
html,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  border: 0;
}
p {
  display: inline-block;
}

button,
a {
  font-family: inherit;
  cursor: pointer;
}
input,
button {
  border: none;
  appearance: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--low-light-text);
}
a:hover {
  text-decoration: underline;
}

:root {
  --rounded-full: 9999px;
  --input-btn-padding: 1rem 1.5rem;
  --crawl-input-btn-padding: 0.7rem 1.2rem;
  --low-light-text: #757575;
  --input-color: #f3f3f3;
  --black: #1e1e1e;
  --accent: #d88c21;
  --bg: #ffffff;
  --light-text: #ffffff;
}

.info-large {
  font-size: 1rem;
  color: var(--low-light-text);
}
.info-small {
  color: var(--low-light-text);
  font-size: 0.8rem;
}

.highlight-text {
  color: var(--accent);
}
header.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    max-width: 700px;
    line-height: 3.8rem;
    span {
      display: block;
    }
    font-size: 4rem;
  }
  p.sub-title {
    margin-top: 1.5em;
    font-size: 1.1rem;
    color: var(--low-light-text);
    max-width: 570px;
  }
}

.search-outer-container {
  margin-top: 1.8em;
  display: flex;
  flex-direction: column;
  width: 100%;
  .github-link {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    a:hover {
      text-decoration: underline;
    }
    span.github-icon {
      margin-right: 0.5rem;
      --icon-size: 30px;
      display: inline-block;
      width: var(--icon-size);
      height: var(--icon-size);
      background-size: var(--icon-size);
      background: url("../assets/icons/Github.png");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

#search-input {
  position: relative;
  input,
  button {
    padding: var(--input-btn-padding);
    border-radius: 9999px;
  }
  input[type="search"] {
    background-color: var(--input-color);
    width: 100%;
  }

  button[type="submit"] {
    background-color: var(--black);
    color: var(--light-text);
    position: absolute;
    right: 0%;
  }
  margin-bottom: 0.5em;
}

#scroll-down-info {
  margin-top: auto;
  margin-bottom: 1.2em;
  text-align: center;
  .scroll-down-icon {
    --icon-size: 30px;
    margin-inline: auto;
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    background-size: var(--icon-size);
    background: url("../assets/icons/arrow_drop_down.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.crawl-list-container {
  margin-top: 2em;
  display: flex;
  & > :first-child {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    overflow-y: auto;
    gap: 1em;
  }
}

button#add-entry-sb-btn {
  display: block;
  margin-top: 2em;
  color: var(--light-text);
  background-color: var(--black);
  padding: var(--input-btn-padding);
  border-radius: var(--rounded-full);
  margin-inline: auto;
}

body:has(.active-sb) {
  position: relative;
  main {
    filter: blur(5px);
    background-color: #1d1d1d20;
  }
}
#crawl-list-sb {
  z-index: 999;
  position: fixed;
  top: 0px;
  background-color: var(--bg);
  min-height: 100dvh;
  padding: 1em 2em;
  width: 30em;
}
#crawl-list-header {
  display: flex;
  align-items: center;
  h2 {
    font-size: 3rem;
  }
  button {
    color: var(--light-text);
    font-weight: bold;
    background-color: var(--black);
    border-radius: var(--rounded-full);
    height: 30px;
    width: 30px;
    margin-left: auto;
  }
}
#crawl-list-sb.inactive-sb {
  transition: 250ms ease-in-out left;
  left: -40em;
}
#crawl-list-sb.active-sb {
  transition: 250ms ease-in-out left;
  box-shadow: 2px 0px 10px 4px #1d1d1d10;
  left: 0em;
}
