:root {
  --outline-color: #1e1e1e20;
  --waiting-icon-size: 25px;
  --rounded-full: 9999px;
  --input-btn-padding: 1rem 1.5rem;
  --crawl-input-btn-padding: 0.7rem 1.2rem;
  --low-light-text: #757575;
  --input-color: #f3f3f3;
  --black: #1e1e1e;
  --accent: #edb25e;
  --bg: #ffffff;
  --light-text: #ffffff;
  --error: #ed5e5e;
  --check: #5dc45d;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body,
html,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  border: 0;
}
p {
  display: inline-block;
}

button,
a {
  font-family: inherit;
  cursor: pointer;
}
input,
button {
  font-family: inherit;
  border: none;
  appearance: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--low-light-text);
}
a:hover {
  text-decoration: underline;
}

.info-large {
  font-size: 1rem;
  color: var(--low-light-text);
}
.info-small {
  color: var(--low-light-text);
  font-size: 0.8rem;
}

.highlight-text {
  color: var(--accent);
}
main,
#crawl-section {
  display: flex;
  min-height: 100dvh;
  background-color: var(--bg);
  flex-direction: column;
}

.centered-contents-container {
  flex: 1;
  height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
}
