:root {
  h1,
  p,
  h2,
  h3,
  h4,
  h5,
  li,
  ul,
  small {
    margin: 0;
    padding: 0;
    border: 0;
  }
  li {
    list-style: none;
  }
  --black: #1e1e1e;
  --text-black: #2b2b2b;
  --accent-1: #f8eed4;
  --white-bg: #fdf9ef;
  --white-1: #e9e5db;
  --input-field: #e9e5db95;
  --gray-1: #8a8a8a;
  --gray-2: #6a6a6a;
  --error: #ed3737;
  /*--success: #37ed6a;*/
  --success: #32d961;
}

body {
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: var(--white-bg);
  min-height: 100dvh;
}
html,
body {
  padding: 0;
  border: 0;
  margin: 0;
}
input,
button {
  /*box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);*/
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
button {
  cursor: pointer;
}

input[type="search"] {
  height: 100%;
  width: 20em;
  border-radius: 5px;
  appearance: none;
  border: none;
  background: var(--input-field);
  padding: 0.6em 0.8em;
}

input[type="search"]::placeholder {
  color: var(--gray-1);
  font-weight: 500;
}

input[type="search"]:read-only {
  outline: none;
}

.search-crawl-container {
  display: flex;
}

#crawl-data-submission {
  display: flex;
  align-items: center;
  margin-right: 1em;
  gap: 0.5em;
  #crawl-btn {
    background: var(--text-black);
    color: var(--white-1);
    appearance: none;
    border: none;
    padding: 0.6em 0.8em;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 2px;
  }
  #crawl-btn:disabled {
    background: var(--gray-2);
  }
}

.process-spinner {
  display: none !important;
  opacity: 0;
}
#crawl-data-submission.polling {
  .process-spinner {
    display: inline-block !important;
    opacity: 1;
  }
}

#spinner {
  width: 20px;
  height: 20px;
  border: 2px solid var(--black);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
div.search-container {
  box-sizing: border-box;
}
